{
    "run": {
        "default": "",
        "items": [
            {
                "name": "lsp4xml",
                "projectName": "lsp4xml",
                "workingDirectory": "",
                "args": [],
                "vmargs": [],
                "preLaunchTask": ""
            }
        ]
    },
    "debug": {
        "default": "",
        "items": [
            {
                "name": "lsp4xml",
                "projectName": "lsp4xml",
                "workingDirectory": "",
                "args": [],
                "vmargs": [],
                "preLaunchTask": ""
            }
        ]
    }
}